.wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

body {
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	background-color: #002f5f;
	background-position: left;
}

header {
	background-image: url("../images/header-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fee4a7;
	width: 980px;
	height: 240px;
	position: relative;
}

header h1 {
	font-family: 'Lobster', cursive;
	font-size: 5em;
	color: #800a00;
	padding-top: 50px;
	padding-left: 40px;
	padding-bottom: 40px;
}

header h2 {
	font-family: 'Lobster', cursive;
	font-size: 1.75em;
	padding-left: 4%;
}

.logo {
	position: absolute;
	top: 0; 
	right: -140px;
}

nav ul {
	background-image: linear-gradient(#800a00, #800a00, black);
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	font-family: 'Lobster', cursive;
}

nav {
	height: 75px;
	width: 980px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 1.75em;
	color: white;
	text-decoration: none;
	text-align: center;
	width: 25%;
	padding: 3%;
	display: inline-block;
	box-sizing: border-box;
}

section {
	width: 980px;
	clear: both;
	background-image: url("../images/section-bg.png");
	background-repeat: repeat-y;
	background-color: #fee4a7;
	background-position: left;
	padding-bottom: 100px;
	
}

section h2 {	
	padding: 40px 100px;
	display: block;
	font-family: "Lobster", cursive;
	font-size: 2em;
}

section a {
	padding: 0 100px;	
	font-family: "Lobster", cursive;
	font-size: 1.25em;
	color: #3b7bab;
	padding-bottom: 20px;
	display: block;
}

section p {
	padding: 0 100px;
	font-family: "Trebuchet MS", sans-serif;
	padding-bottom: 2%;
	line-height: 140%;
}

footer ul {
	background-image: url("../images/footer-bg.png");
	background-color: #800a00;
	background-repeat: repeat-x;
	background-position: left;
	list-style: none;
	height: 50px;
}

footer ul li {
	display: inline-block;
	padding: 2%;
}

footer ul li a {
	display: block;
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 1em;
	color: white;
	text-decoration: none;
}

/*.red {
	color: red;
}*/